### 1. Imports

In [342]:
import requests
import json
import pandas as pd

### 2. Get user input

In [343]:
# Create dict of available teams
team_dict = {'bayern': 40,
             'dortmund': 7,
             'schalke': 9}

In [344]:
home_team = input("What's the name of the home team?")
home_team = home_team.lower()

What's the name of the home team? bayern

In [345]:
away_team = input("What's the name of the away team?")
away_team = away_team.lower()

What's the name of the away team? dortmund

In [363]:
# Check if team exists
def check_team(home_team, away_team, team_dict):
    if home_team in team_dict and away_team in team_dict:
        home = team_dict[home_team]
        away = team_dict[away_team]
        return home, away
    else:
        return None, None

In [364]:
home, away = check_team(home_team, away_team, team_dict)

### 3. API call / get the data

In [7]:
# Get the match data for both teams: team1 is the HOME and team2 is the AWAY team
url = f'https://api.openligadb.de/getmatchdata/{home}/{away}'
response = requests.get(url)

In [365]:
endergebnis = 'Endergebnis'

In [366]:
# home team is Bayern
# check if result at the end of the match
endergebnis = 'Endergebnis'
# count number of matches
match = 0
# store if win, draw, loss in dict
match_history = {'match':[],
                 'outcome': [],
                 'goals_team_1': [],
                 'goals_team_2': []}
# store match_history dict in list of dicts to later transform into df
match_list = []

for x in range(0, len(response.json())):
    
    try:
        if response.json()[x]['team1']['teamId'] == home:
            if endergebnis in response.json()[x]['matchResults'][0].values():
                goals_team1 = response.json()[x]['matchResults'][0]['pointsTeam1']
                goals_team2 = response.json()[x]['matchResults'][0]['pointsTeam2']
                if goals_team1 > goals_team2:
                    match_history['match'].append(x)
                    match_history['outcome'].append(1)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    #match_history[f'match_{match}': {}] = 1,
                    match += 1
                elif goals_team1 < goals_team2:
                    match_history['match'].append(x)
                    match_history['outcome'].append(2)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    #match_history[f'match_{match}'] = 2
                    match += 1
                else:
                    match_history['match'].append(x)
                    match_history['outcome'].append(0)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    #match_history[f'match_{match}'] = 0
                    match += 1
            else:
                goals_team1 = response.json()[x]['matchResults'][1]['pointsTeam1']
                goals_team2 = response.json()[x]['matchResults'][1]['pointsTeam2']
                if goals_team1 > goals_team2:
                    match_history['match'].append(x)
                    match_history['outcome'].append(1)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
                elif goals_team1 < goals_team2:
                    match_history['match'].append(x)
                    match_history['outcome'].append(2)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
                else: 
                    match_history['match'].append(x)
                    match_history['outcome'].append(0)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
                     
        #print(goals_team1)
            #scores_df['score_team_1'] = goals_team1
            #scores_df['score_team_2'] = goals_team2
    except IndexError:
        print(response.json()[x]['matchID'])
        print(f'Number: {x}')
        print('nothingburger')
        continue

4682
Number: 0
nothingburger
64090
Number: 72
nothingburger
64278
Number: 73
nothingburger

In [179]:
match_history

{'match': [3,
  5,
  6,
  9,
  12,
  14,
  15,
  18,
  22,
  24,
  25,
  28,
  29,
  31,
  34,
  35,
  41,
  42,
  43,
  47,
  49,
  56,
  62,
  67,
  69],
 'outcome': [1,
  0,
  1,
  1,
  1,
  2,
  2,
  0,
  2,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  0,
  1],
 'goals_team_1': [5,
  3,
  2,
  5,
  3,
  1,
  0,
  1,
  0,
  2,
  2,
  1,
  1,
  5,
  4,
  4,
  4,
  2,
  2,
  2,
  6,
  5,
  4,
  0,
  3],
 'goals_team_2': [0,
  3,
  0,
  0,
  1,
  3,
  1,
  1,
  3,
  1,
  1,
  3,
  3,
  1,
  3,
  3,
  1,
  3,
  3,
  1,
  0,
  0,
  2,
  0,
  1],
 'match_13': 1,
 'match_17': 1,
 'match_21': 1,
 'match_23': 1,
 'match_25': 1,
 'match_27': 1}

In [367]:
match_df = pd.DataFrame(match_history.items())#, columns=['match_number', 'outcome', 'goals_team_1', 'goals_team_2'])

In [368]:
df = match_df.set_index(0).T

In [352]:
df

,match,outcome,goals_team_1,goals_team_2
1,"[3, 5, 6, 9, 12, 14, 15, 18, 22, 24, 25, 28, 2...","[1, 0, 1, 1, 1, 2, 2, 0, 2, 1, 1, 2, 2, 1, 1, ...","[5, 3, 2, 5, 3, 1, 0, 1, 0, 2, 2, 1, 1, 5, 5, ...","[0, 3, 0, 0, 1, 3, 1, 1, 3, 1, 1, 3, 3, 1, 1, ..."

In [369]:
df = df.explode(['match', 'outcome', 'goals_team_1', 'goals_team_2'])

In [370]:
df = df[['match', 'goals_team_1', 'goals_team_2', 'outcome']]

In [371]:
df = df.set_index('match').reset_index()

In [374]:
home_team

'bayern'

In [373]:
home_team = [team for team, number in team_dict.items() if number == home][0]
away_team = [team for team, number in team_dict.items() if number == away][0]

In [375]:
df = df.rename(columns={'goals_team_1': home_team, 'goals_team_2': away_team})

## Same for the other home team (Dortmund)

In [377]:
# home team is Dortmund
# check if result at the end of the match
endergebnis = 'Endergebnis'
# count number of matches
match = 0
# store if win, draw, loss in dict
match_history_away = {'match':[],
                 'outcome': [],
                 'goals_team_1': [],
                 'goals_team_2': []}
# store match_history dict in list of dicts to later transform into df
match_list = []

for x in range(0, len(response.json())):
    
    try:
        if response.json()[x]['team1']['teamId'] == away:
            if endergebnis in response.json()[x]['matchResults'][0].values():
                goals_team1 = response.json()[x]['matchResults'][0]['pointsTeam1']
                goals_team2 = response.json()[x]['matchResults'][0]['pointsTeam2']
                if goals_team1 > goals_team2:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(1)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    #match_history[f'match_{match}': {}] = 1,
                    match += 1
                elif goals_team1 < goals_team2:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(2)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    #match_history[f'match_{match}'] = 2
                    match += 1
                else:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(0)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    #match_history[f'match_{match}'] = 0
                    match += 1
            else:
                goals_team1 = response.json()[x]['matchResults'][1]['pointsTeam1']
                goals_team2 = response.json()[x]['matchResults'][1]['pointsTeam2']
                if goals_team1 > goals_team2:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(1)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
                elif goals_team1 < goals_team2:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(2)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
                else: 
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(0)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
                     
        #print(goals_team1)
            #scores_df['score_team_1'] = goals_team1
            #scores_df['score_team_2'] = goals_team2
    except IndexError:
        print(response.json()[x]['matchID'])
        print(f'Number: {x}')
        print('nothingburger')
        continue

4835
Number: 1
nothingburger
31174
Number: 17
nothingburger
58377
Number: 60
nothingburger
64214
Number: 70
nothingburger

In [378]:
match_df2 = pd.DataFrame(match_history_away.items())#, columns=['match_number', 'outcome', 'goals_team_1', 'goals_team_2'])

In [379]:
df2 = match_df2.set_index(0).T

In [380]:
df2 = df2.explode(['match', 'outcome', 'goals_team_1', 'goals_team_2'])

In [381]:
df2 = df2[['match', 'goals_team_1', 'goals_team_2', 'outcome']]

In [382]:
df2 = df2.set_index('match').reset_index()

In [384]:
df2 = df2.rename(columns={'goals_team_1': away_team, 'goals_team_2': home_team})

In [388]:
complete_df = pd.concat([df, df2])

In [389]:
complete_df = complete_df.sort_values(by='match').set_index('match').reset_index()

In [390]:
complete_df.head(5)

0  match bayern dortmund outcome
0      2      2        2       0
1      3      5        0       1
2      4      2        1       2
3      5      3        3       0
4      6      2        0       1

In [391]:
pd.set_option('display.max_rows', 100)
complete_df.head(71)

0   match bayern dortmund outcome
0       2      2        2       0
1       3      5        0       1
2       4      2        1       2
3       5      3        3       0
4       6      2        0       1
5       7      2        3       1
6       8      0        0       0
7       9      5        0       1
8      10      2        1       2
9      11      1        1       0
10     12      3        1       1
11     13      0        2       1
12     14      1        3       2
13     15      0        1       2
14     16      0        1       1
15     18      1        1       0
16     19      1        1       0
17     20      2        1       2
18     21      3        0       2
19     22      0        3       2
20     23      2        0       2
21     24      2        1       1
22     25      2        1       1
23     26      1        0       2
24     27      1        0       2
25     28      1        3       2
26     29      1        3       2
27     30      5        1       1
28     31      5        1       1
29     32      0        0       0
30     33      0        0       0
31     34      4        3       1
32     35      4        3       1
33     36      0        0       0
34     37      0        1       1
35     38      0        1       1
36     39     10        6       2
37     40      4        1       1
38     41      4        1       1
39     42      2        3       2
40     43      2        3       2
41     44      3        1       2
42     45      3        1       2
43     46      2        1       1
44     47      2        1       1
45     48      6        0       1
46     49      6        0       1
47     50      0        0       0
48     51      0        1       1
49     52      0        0       0
50     53      2        3       1
51     54      2        3       1
52     55      5        0       1
53     56      5        0       1
54     57      0        0       0
55     58      4        0       1
56     59      1        0       2
57     61      3        2       2
58     62      4        2       1
59     63      0        0       0
60     64      0        0       0
61     65      0        0       0
62     66      2        0       2
63     67      0        0       0
64     68      3        2       2
65     69      3        1       1
66     71      2        2       0