### 1. Imports

In [1]:
import requests
import json
import pandas as pd

### 2. Get user input

In [2]:
# Create dict of available teams
team_dict = {'bayern': 40,
             'dortmund': 7,
             'schalke': 9}

In [3]:
home_team = input("What's the name of the home team?")
home_team = home_team.lower()

What's the name of the home team? bayern

In [4]:
away_team = input("What's the name of the away team?")
away_team = away_team.lower()

What's the name of the away team? dortmund

In [5]:
# Check if team exists
def check_team(home_team, away_team, team_dict):
    if home_team in team_dict and away_team in team_dict:
        home = team_dict[home_team]
        away = team_dict[away_team]
        return home, away
    else:
        return None, None

In [6]:
home, away = check_team(home_team, away_team, team_dict)

### 3. API call / get the data

In [7]:
# Get the match data for both teams: team1 is the HOME and team2 is the AWAY team
url = f'https://api.openligadb.de/getmatchdata/{home}/{away}'
response = requests.get(url)

In [8]:
#endergebnis = 'Endergebnis'

### 4. Home team

In [170]:
def home_team_func(home, response):
    # home team is Bayern
    # check if result at the end of the match
    endergebnis = 'Endergebnis'
    # count number of matches
    match = 0
    # store if win, draw, loss in dict
    match_history = {'match':[],
                 'outcome': [],
                 'goals_team_1': [],
                 'goals_team_2': []}
    # store match_history dict in list of dicts to later transform into df

    for x in range(0, len(response.json())):
    
        try:
            if response.json()[x]['team1']['teamId'] == home:
                if endergebnis in response.json()[x]['matchResults'][0].values():
                    goals_team1 = response.json()[x]['matchResults'][0]['pointsTeam1']
                    goals_team2 = response.json()[x]['matchResults'][0]['pointsTeam2']
                    if goals_team1 > goals_team2:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(1)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                    elif goals_team1 < goals_team2:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(2)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                    else:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(0)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                else:
                    goals_team1 = response.json()[x]['matchResults'][1]['pointsTeam1']
                    goals_team2 = response.json()[x]['matchResults'][1]['pointsTeam2']
                    if goals_team1 > goals_team2:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(1)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                    elif goals_team1 < goals_team2:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(2)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                    else: 
                        match_history['match'].append(x)
                        #match_history['outcome'].append(0)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
        except IndexError:
            continue
    
    return match_history

In [171]:
home_match_history = home_team_func(home, response)
home_match_df = pd.DataFrame(home_match_history.items())

In [172]:
home_df = home_match_df.set_index(0).T

In [175]:
home_df = home_df.explode(['match', 'goals_team_1', 'goals_team_2'])
home_df = home_df[['match', 'goals_team_1', 'goals_team_2']]

In [176]:
home_df = home_df.set_index('match').reset_index()

In [177]:
home_team = [team for team, number in team_dict.items() if number == home][0]

In [178]:
home_df = home_df.rename(columns={'goals_team_1': home_team, 'goals_team_2': away_team})

### 5. Away team

In [297]:
def away_team_func(away, response):
    # home team is Dortmund
    # check if result at the end of the match
    endergebnis = 'Endergebnis'
    # count number of matches
    match = 0
    # store if win, draw, loss in dict
    match_history = {'match':[],
                 'outcome': [],
                 'goals_team_1': [],
                 'goals_team_2': []}
    # store match_history dict in list of dicts to later transform into df

    for x in range(0, len(response.json())):
    
        try:
            if response.json()[x]['team1']['teamId'] == away:
                if endergebnis in response.json()[x]['matchResults'][0].values():
                    goals_team1 = response.json()[x]['matchResults'][0]['pointsTeam1']
                    goals_team2 = response.json()[x]['matchResults'][0]['pointsTeam2']
                    if goals_team1 > goals_team2:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(1)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                    elif goals_team1 < goals_team2:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(2)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                    else:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(0)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                else:
                    goals_team1 = response.json()[x]['matchResults'][1]['pointsTeam1']
                    goals_team2 = response.json()[x]['matchResults'][1]['pointsTeam2']
                    if goals_team1 > goals_team2:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(1)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                    elif goals_team1 < goals_team2:
                        match_history['match'].append(x)
                        #match_history['outcome'].append(2)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
                    else: 
                        match_history['match'].append(x)
                        #match_history['outcome'].append(0)
                        match_history['goals_team_1'].append(goals_team1)
                        match_history['goals_team_2'].append(goals_team2)
                        match += 1
        except IndexError:
            continue
    
    return match_history

In [181]:
away_match_history = away_team_func(away, response)
away_match_df = pd.DataFrame(away_match_history.items())

In [182]:
away_df = away_match_df.set_index(0).T

In [183]:
away_df = away_df.explode(['match', 'goals_team_1', 'goals_team_2'])
away_df = away_df[['match', 'goals_team_1', 'goals_team_2']]

In [184]:
away_df = away_df.set_index('match').reset_index()

In [185]:
away_df = away_df.rename(columns={'goals_team_1': away_team, 'goals_team_2': home_team})

### 6. Combine both df

In [322]:
def calc_new_col(row):
    if row[0] > row[1]:
        val = 1
    elif row[0] < row[1]:
        val = 2
    else:
        val = 0
    
    return val

In [323]:
def create_complete_df(home_df, away_df):
    complete_df = pd.concat([home_df, away_df])
    complete_df = complete_df.sort_values(by='match').set_index('match').reset_index()
    complete_df = complete_df.iloc[:, 1:3].astype(int)
    
    complete_df['outcome'] = complete_df.apply(calc_new_col, axis=1)
    
    return complete_df

In [324]:
complete_df = create_complete_df(home_df, away_df)

In [325]:
complete_df

0   bayern  dortmund  outcome
0        2         2        0
1        5         0        1
2        2         1        1
3        3         3        0
4        2         0        1
5        2         3        2
6        0         0        0
7        5         0        1
8        2         1        1
9        1         1        0
10       3         1        1
11       0         2        2
12       1         3        2
13       0         1        2
14       0         1        2
15       1         1        0
16       1         1        0
17       2         1        1
18       3         0        1
19       0         3        2
20       2         0        1
21       2         1        1
22       2         1        1
23       1         0        1
24       1         0        1
25       1         3        2
26       1         3        2
27       5         1        1
28       5         1        1
29       0         0        0
30       0         0        0
31       4         3        1
32       4         3        1
33       0         0        0
34       0         1        2
35       0         1        2
36      10         6        1
37       4         1        1
38       4         1        1
39       2         3        2
40       2         3        2
41       3         1        1
42       3         1        1
43       2         1        1
44       2         1        1
45       6         0        1
46       6         0        1
47       0         0        0
48       0         1        2
49       0         0        0
50       2         3        2
51       2         3        2
52       5         0        1
53       5         0        1
54       0         0        0
55       4         0        1
56       1         0        1
57       3         2        1
58       4         2        1
59       0         0        0
60       0         0        0
61       0         0        0
62       2         0        1
63       0         0        0
64       3         2        1
65       3         1        1
66       2         2        0

In [168]:
pd.set_option('display.max_rows', 100)
complete_df.head(71)

0   match bayern dortmund outcome
0       2      2        2       0
1       3      5        0       1
2       4      2        1       2
3       5      3        3       0
4       6      2        0       1
5       7      2        3       1
6       8      0        0       0
7       9      5        0       1
8      10      2        1       2
9      11      1        1       0
10     12      3        1       1
11     13      0        2       1
12     14      1        3       2
13     15      0        1       2
14     16      0        1       1
15     18      1        1       0
16     19      1        1       0
17     20      2        1       2
18     21      3        0       2
19     22      0        3       2
20     23      2        0       2
21     24      2        1       1
22     25      2        1       1
23     26      1        0       2
24     27      1        0       2
25     28      1        3       2
26     29      1        3       2
27     30      5        1       1
28     31      5        1       1
29     32      0        0       0
30     33      0        0       0
31     34      4        3       1
32     35      4        3       1
33     36      0        0       0
34     37      0        1       1
35     38      0        1       1
36     39     10        6       2
37     40      4        1       1
38     41      4        1       1
39     42      2        3       2
40     43      2        3       2
41     44      3        1       2
42     45      3        1       2
43     46      2        1       1
44     47      2        1       1
45     48      6        0       1
46     49      6        0       1
47     50      0        0       0
48     51      0        1       1
49     52      0        0       0
50     53      2        3       1
51     54      2        3       1
52     55      5        0       1
53     56      5        0       1
54     57      0        0       0
55     58      4        0       1
56     59      1        0       2
57     61      3        2       2
58     62      4        2       1
59     63      0        0       0
60     64      0        0       0
61     65      0        0       0
62     66      2        0       2
63     67      0        0       0
64     68      3        2       2
65     69      3        1       1
66     71      2        2       0

In [ ]:
# home team is Bayern
# check if result at the end of the match
endergebnis = 'Endergebnis'
# count number of matches
match = 0
# store if win, draw, loss in dict
match_history = {'match':[],
                 'outcome': [],
                 'goals_team_1': [],
                 'goals_team_2': []}
# store match_history dict in list of dicts to later transform into df
match_list = []

for x in range(0, len(response.json())):
    
    try:
        if response.json()[x]['team1']['teamId'] == home:
            if endergebnis in response.json()[x]['matchResults'][0].values():
                goals_team1 = response.json()[x]['matchResults'][0]['pointsTeam1']
                goals_team2 = response.json()[x]['matchResults'][0]['pointsTeam2']
                if goals_team1 > goals_team2:
                    match_history['match'].append(x)
                    match_history['outcome'].append(1)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
                elif goals_team1 < goals_team2:
                    match_history['match'].append(x)
                    match_history['outcome'].append(2)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
                else:
                    match_history['match'].append(x)
                    match_history['outcome'].append(0)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
            else:
                goals_team1 = response.json()[x]['matchResults'][1]['pointsTeam1']
                goals_team2 = response.json()[x]['matchResults'][1]['pointsTeam2']
                if goals_team1 > goals_team2:
                    match_history['match'].append(x)
                    match_history['outcome'].append(1)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
                elif goals_team1 < goals_team2:
                    match_history['match'].append(x)
                    match_history['outcome'].append(2)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
                else: 
                    match_history['match'].append(x)
                    match_history['outcome'].append(0)
                    match_history['goals_team_1'].append(goals_team1)
                    match_history['goals_team_2'].append(goals_team2)
                    match += 1
                     
        #print(goals_team1)
            #scores_df['score_team_1'] = goals_team1
            #scores_df['score_team_2'] = goals_team2
    #except IndexError:
        #print(response.json()[x]['matchID'])
        #print(f'Number: {x}')
        #print('nothingburger')
        #continue

In [ ]:
match_history

In [ ]:
match_df = pd.DataFrame(match_history.items())#, columns=['match_number', 'outcome', 'goals_team_1', 'goals_team_2'])

In [ ]:
df = match_df.set_index(0).T

In [ ]:
df

In [ ]:
df = df.explode(['match', 'outcome', 'goals_team_1', 'goals_team_2'])

In [ ]:
df = df[['match', 'goals_team_1', 'goals_team_2', 'outcome']]

In [ ]:
df = df.set_index('match').reset_index()

In [ ]:
home_team

In [ ]:
home_team = [team for team, number in team_dict.items() if number == home][0]
away_team = [team for team, number in team_dict.items() if number == away][0]

In [ ]:
df = df.rename(columns={'goals_team_1': home_team, 'goals_team_2': away_team})

## Same for the other home team (Dortmund)

In [ ]:
# home team is Dortmund
# check if result at the end of the match
endergebnis = 'Endergebnis'
# count number of matches
match = 0
# store if win, draw, loss in dict
match_history_away = {'match':[],
                 'outcome': [],
                 'goals_team_1': [],
                 'goals_team_2': []}
# store match_history dict in list of dicts to later transform into df
match_list = []

for x in range(0, len(response.json())):
    
    try:
        if response.json()[x]['team1']['teamId'] == away:
            if endergebnis in response.json()[x]['matchResults'][0].values():
                goals_team1 = response.json()[x]['matchResults'][0]['pointsTeam1']
                goals_team2 = response.json()[x]['matchResults'][0]['pointsTeam2']
                if goals_team1 > goals_team2:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(2)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
                elif goals_team1 < goals_team2:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(1)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
                else:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(0)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
            else:
                goals_team1 = response.json()[x]['matchResults'][1]['pointsTeam1']
                goals_team2 = response.json()[x]['matchResults'][1]['pointsTeam2']
                if goals_team1 > goals_team2:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(2)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
                elif goals_team1 < goals_team2:
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(1)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
                else: 
                    match_history_away['match'].append(x)
                    match_history_away['outcome'].append(0)
                    match_history_away['goals_team_1'].append(goals_team1)
                    match_history_away['goals_team_2'].append(goals_team2)
                    match += 1
                     
        #print(goals_team1)
            #scores_df['score_team_1'] = goals_team1
            #scores_df['score_team_2'] = goals_team2
    #except IndexError:
        #print(response.json()[x]['matchID'])
        #print(f'Number: {x}')
        #print('nothingburger')
        #continue

In [ ]:
match_df2 = pd.DataFrame(match_history_away.items())#, columns=['match_number', 'outcome', 'goals_team_1', 'goals_team_2'])

In [ ]:
df2 = match_df2.set_index(0).T

In [ ]:
df2 = df2.explode(['match', 'outcome', 'goals_team_1', 'goals_team_2'])

In [ ]:
df2 = df2[['match', 'goals_team_1', 'goals_team_2', 'outcome']]

In [ ]:
df2 = df2.set_index('match').reset_index()

In [ ]:
df2 = df2.rename(columns={'goals_team_1': away_team, 'goals_team_2': home_team})

In [ ]:
complete_df = pd.concat([df, df2])

In [ ]:
complete_df = complete_df.sort_values(by='match').set_index('match').reset_index()

In [ ]:
complete_df.head(5)

In [ ]:
pd.set_option('display.max_rows', 100)
complete_df.head(71)